*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(69, 63, 63);
    text-align: center;
}
.container{
    /* width: 100%; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
   
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(117, 105, 105);
    /* background-color: blanchedalmond; */
    font-size: 8vmin;
    color: #b0413e;


}
.reset_bttn{
    border-radius: 1rem;
    border: none;
    /* width: 20vmin;
    height: 6vmin; */
    padding: 1rem;
    background-color: black;
    color: #fff;
    font-size: 1.25rem;

}
.new_bttn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
#msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
.hide {
    display: none;
  }
